/**
 * calendar.scss
 * Governs the general look and feel of the calendar
 */
 
.pickle-calendar {
    width: 100%;
    
    a {
        text-decoration: none;  
        box-shadow: none;      
    }

    .row {
        margin-right: -15px;
        margin-left: -15px;

        .row:before {
            display: table;
            content: ' ';
        }
        .row:after {
            clear: both;
            display: table;
            content: ' ';
        } 
        
        /* Month header */
        &.header {
            padding: 10px 0;
            background: #0087cc;
            color: #fff;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 3px;
            
            &:after {
                content: "";
                clear: both;
                display: table;
            }            
        
            .prev, 
            .month, 
            .year,
            .next {
                position: relative;
                min-height: 1px;
                padding-right: 15px;
                padding-left: 15px;
                float: left;
            }
            .prev,
            .next {
                width: 16.66666667%;
            }
            .next {
                text-align: right;
            }
            .month {
                width: 41.66666667%;
                text-align: center;
            }
            .year {
                width: 25%;
                text-align: center;
            }        
        
            .cal-nav,
            .cal-nav:visited {
                color: #fff;
            }
            
            .cal-nav:hover,
            .cal-nav:active {
                color: #fff;
            }
        }               
    }



    /* Weekdays (Mon-Sun) */
    .weekdays {
        padding: 8px 0;
        background-color:#ddd;
    
        .dow {
            display: inline-block;
            width: 14.28571428%;
            color: #666;
            text-align: center;
        }
    }

    /* days */
    .cal-wrap { 
        
        .row {
            overflow: hidden;
            background: #eee;
            flex-wrap: nowrap;
        
            .calendar-day {
                float: left;
                width: 14.28571428%;
                font-size:12px;
                color:#777;
                border-style: solid;
                border-width: 1px 0 0 1px;
                border-color: #ccc;
                min-height: 45px;
                
                &:last-child {
                    border-right-width: 1px;
                }
                
                .day-number {
                    text-align: right;
                    padding-top: 5px;
                    padding-right: 7px;
                    padding-bottom: 5px;
                    line-height: 1;
                }
                
                &.today {
                        background: #0087cc;
                        color: #fff;                    
                    a {
                        color: #fff;    
                    }
                }                
            }
            
            &:last-child .calendar-day {
                border-bottom-width: 1px;
            }
        }
    } // .cal-wrap
} // .pickle-calendar

/* events */
.pickle-calendar-event {
    position: relative;
    background: #fd0000;
    color: #fff;
    margin-left: 5px;
    padding: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    line-height: 1;

    &.multiday {
        opacity: 0;
        
        &.start {
            opacity: 1;
        }
    }

    a {
        color: #fff;
    }

    .filter-hide {
        display: none;
    }
}

/* filters */
.pickle-calendar-filters {
    overflow: hidden;

    &.filter-type-tab {
        margin-right: -15px;
        margin-left: -15px;
    
        .filter {
            overflow: hidden;
    
            .filter-label {
                display: none;
            }

            .filter-tabs {
                list-style-type: none;
                margin: 0;
                padding: 0;
                float: right;
        
                .filter-tab {
                    float: left;
                    background-color: #e3e3e3;
                    margin-left: 5px;
                    
                    &.active {
                        background-color: #657792;
                        
                        a {
                            background-color: #657792;
                            color: #fff;            
                        }
                    }
                 
                    a {
                        padding: 5px 15px;
                        color: #657792;
                    }      
                } 
            }
        }
    }
}